.main-info a {
  outline: none;
  text-decoration: none;
  color: black;
}

.main-info {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 120px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.info-container {
  display: flex;
  height: 120px;
  width: 73%;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.up-nav {
  display: flex;
  height: 60px;
  padding-left: 170px;
  align-items: center;
}

.down-nav {
  height: 60px;
}

.up-nav a {
  padding: 15px;
  font-size: 10;
  font-weight: lighter;
}

.down-nav a {
  margin: 15px 15px 0px 15px;
  padding: 10px 10px 41.5px 10px;
  font-size: 90%;
}

.up-nav img {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(172, 170, 170);
}
